# Player Stats 2018

In [2]:
# imports

import requests
import pandas as pd
import numpy as np

In [3]:
# initial setup

categories = ['Transition', 'Isolation', 'PRBallHandler', 'PRRollman', 'Postup', 'Spotup', 'Handoff', 'Cut', 'OffScreen', 'OffRebound', 'Misc']
all_data = [[], [], [], [], [], [], [], [], [], [], []]
season = 2018
limit = 500

In [4]:
# pulling data from API

for i in range(len(categories)):
    pull = requests.get(f'https://stats-prod.nba.com/wp-json/statscms/v1/synergy/player//?category={categories[i]}&season={season}&seasonType=Reg&limit={limit}').json()
    all_data[i].append(pull['results'])

In [5]:
# creating dataframes

data_df = []

for i in range(len(categories)):
    df = pd.DataFrame(all_data[i][0])
    cat = [categories[i]]*len(all_data[i][0])
    year = [2018]*len(all_data[i][0])
    df['category'] = cat
    df['year'] = year
    data_df.append(df[["PlayerIDSID", "TeamIDSID", 'category', 'year', 'name', 'GP', 'Points', 'FGA', 'FGM', 'PPG']])

data_df[0].head()

,PlayerIDSID,TeamIDSID,category,year,name,GP,Points,FGA,FGM,PPG
0,1628972,1610612764,Transition,2018,Offensive,52,63,41,25,1.211538
1,1628966,1610612750,Transition,2018,Offensive,30,45,34,19,1.500000
2,1627936,1610612747,Transition,2018,Offensive,25,41,24,12,1.640000
3,203895,1610612764,Transition,2018,Offensive,27,40,24,16,1.481481
4,1629244,1610612750,Transition,2018,Offensive,19,32,21,12,1.684211

In [ ]:
# concatenating data by category

full_data = data_df[0]

for table in data_df[1:]:
    full_data = pd.concat([full_data, table])

In [ ]:
# export final dataframe to csv

full_data.to_csv('Stats2018.csv', index=False, header=True)