In [1]:
import pandas as pd

In [6]:
nba_file = "all_seasons.csv"
nba_df = pd.read_csv(nba_file)
nba_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,4.6,1.7,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [11]:
nba_df[['first_name','last_name']] = nba_df['player_name'].loc[nba_df['player_name'].str.split()
                                                               .str.len() == 2].str.split(expand=True)

nba_df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,first_name,last_name
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97,Chris,Robinson
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97,Matt,Fish
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97,Matt,Bullard
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97,Marty,Conlon
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97,Martin,Muursepp

In [16]:
# Create a filtered dataframe from specific columns
player_columns = ["first_name", "last_name", "age", "player_weight", "player_height", "college","country", "season", "gp", 
               "pts", "reb", "ast"]

nba_transformed = nba_df[player_columns].copy()

In [17]:
nba_transformed.head()

,first_name,last_name,age,player_weight,player_height,college,country,season,gp,pts,reb,ast
0,Chris,Robinson,23.0,90.71840,195.58,Western Kentucky,USA,1996-97,41,4.6,1.7,1.6
1,Matt,Fish,27.0,106.59412,210.82,North Carolina-Wilmington,USA,1996-97,6,0.3,0.8,0.0
2,Matt,Bullard,30.0,106.59412,208.28,Iowa,USA,1996-97,71,4.5,1.6,0.9
3,Marty,Conlon,29.0,111.13004,210.82,Providence,USA,1996-97,74,7.8,4.4,1.4
4,Martin,Muursepp,22.0,106.59412,205.74,None,USA,1996-97,42,3.7,1.6,0.5

In [19]:
# Rename the column headers
final_nba_df = nba_transformed.rename(columns={"gp": "games_played",
                                                  "pts": "points",
                                                  "rb": "rebounds",
                                                  "ast": "assistance_pergame"})

In [20]:
final_nba_df.head()

,first_name,last_name,age,player_weight,player_height,college,country,season,games_played,points,reb,assistance_pergame
0,Chris,Robinson,23.0,90.71840,195.58,Western Kentucky,USA,1996-97,41,4.6,1.7,1.6
1,Matt,Fish,27.0,106.59412,210.82,North Carolina-Wilmington,USA,1996-97,6,0.3,0.8,0.0
2,Matt,Bullard,30.0,106.59412,208.28,Iowa,USA,1996-97,71,4.5,1.6,0.9
3,Marty,Conlon,29.0,111.13004,210.82,Providence,USA,1996-97,74,7.8,4.4,1.4
4,Martin,Muursepp,22.0,106.59412,205.74,None,USA,1996-97,42,3.7,1.6,0.5