In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
mvp_file ="NBA Finals and MVP.xlsx"
mvp_df = pd.read_excel(mvp_file)
mvp_df.head()

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Frist_Name,MVP Last_Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_drop=mvp_df.iloc[6:]
df_drop.head()

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Frist_Name,MVP Last_Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
6,1956,Fort Wayne Pistons,Philadelphia Warriors,1–4,Philadelphia Warriors,Fort Wayne Pistons,False,Bob,Pettit,2.06,6.758530,Forward,Saint Louis Hawks,US,Not reached Final
7,1957,St. Louis Hawks,Boston Celtics,3–4,Boston Celtics,St. Louis Hawks,False,Bob,Cousy,1.85,6.069554,Guard,Boston Celtics,US,Champion
8,1958,St. Louis Hawks,Boston Celtics,4–2,St. Louis Hawks,Boston Celtics,False,Bill,Russell,2.08,6.824147,Center,Boston Celtics,US,Vice-Champion
9,1959,Minneapolis Lakers,Boston Celtics,0–4,Boston Celtics,Minneapolis Lakers,True,Bob,Pettit,2.06,6.758530,Forward,Saint Louis Hawks,US,Not reached Final
10,1960,St. Louis Hawks,Boston Celtics,3–4,Boston Celtics,St. Louis Hawks,False,Wilt,Chamberlain,2.16,7.086614,Center,Philadelphia Warriors,US,Not reached Final

In [5]:
new_mvp_df =df_drop[['MVP Frist_Name', 'MVP Last_Name','Year','MVP Position','MVP Team','MVP Nationality','MVP status']].copy()
new_mvp_df.head()

,MVP Frist_Name,MVP Last_Name,Year,MVP Position,MVP Team,MVP Nationality,MVP status
6,Bob,Pettit,1956,Forward,Saint Louis Hawks,US,Not reached Final
7,Bob,Cousy,1957,Guard,Boston Celtics,US,Champion
8,Bill,Russell,1958,Center,Boston Celtics,US,Vice-Champion
9,Bob,Pettit,1959,Forward,Saint Louis Hawks,US,Not reached Final
10,Wilt,Chamberlain,1960,Center,Philadelphia Warriors,US,Not reached Final

In [22]:
mvp = new_mvp_df.rename(columns={ 
                                 "MVP Frist_Name":"First_name",
                                 "MVP Last_Name":"Last_name",
                                 "MVP Position": "Position",
                                 "MVP Team": "Team",
                                 "MVP Nationality":"Nationality",
                                 "MVP status":"MVP_status"
                                })
mvp.head()

,First_name,Last_name,Year,Position,Team,Nationality,MVP_status
6,Bob,Pettit,1956,Forward,Saint Louis Hawks,US,Not reached Final
7,Bob,Cousy,1957,Guard,Boston Celtics,US,Champion
8,Bill,Russell,1958,Center,Boston Celtics,US,Vice-Champion
9,Bob,Pettit,1959,Forward,Saint Louis Hawks,US,Not reached Final
10,Wilt,Chamberlain,1960,Center,Philadelphia Warriors,US,Not reached Final

In [23]:
team=pd.read_csv("Resources/TeamDetails.csv")
team.head()

,team_id,abbreviation,team_name,year_founded,yearactive_till,arena_capacity,team_logo_url
0,1610612737,ATL,Atlanta Hawks,1949,present,18729,Logo Not Found
1,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found
2,1610612739,CLE,Cleveland Cavaliers,1970,present,20562,{'Cleveland Cavaliers': '//upload.wikimedia.or...
3,1610612740,NOP,New Orleans Pelicans,2002,present,18000,{'New Orleans Pelicans': '//upload.wikimedia.o...
4,1610612741,CHI,Chicago Bulls,1966,present,21711,Logo Not Found

In [31]:
mvp_team =mvp.merge(team,left_on ="Team", right_on ="team_name", how ="inner")
mvp_team.head()

,First_name,Last_name,Year,Position,Team,Nationality,MVP_status,team_id,abbreviation,team_name,year_founded,yearactive_till,arena_capacity,team_logo_url
0,Bob,Cousy,1957,Guard,Boston Celtics,US,Champion,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found
1,Bill,Russell,1958,Center,Boston Celtics,US,Vice-Champion,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found
2,Bill,Russell,1961,Center,Boston Celtics,US,Champion,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found
3,Bill,Russell,1962,Center,Boston Celtics,US,Champion,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found
4,Bill,Russell,1963,Center,Boston Celtics,US,Champion,1610612738,BOS,Boston Celtics,1946,present,18624,Logo Not Found

In [25]:
mvp_team.columns

Index(['First_name', 'Last_name', 'Year', 'Position', 'Team', 'Nationality',
       'MVP_status', 'team_id', 'abbreviation', 'team_name', 'year_founded',
       'yearactive_till', 'arena_capacity', 'team_logo_url'],
      dtype='object')

In [28]:
mvp_df = mvp_team[['First_name', 'Last_name', 'Year', 'Position', 'Team', 'Nationality',
       'MVP_status', 'team_id']].copy()
mvp_df.head()

,First_name,Last_name,Year,Position,Team,Nationality,MVP_status,team_id
0,Bob,Cousy,1957,Guard,Boston Celtics,US,Champion,1610612738
1,Bill,Russell,1958,Center,Boston Celtics,US,Vice-Champion,1610612738
2,Bill,Russell,1961,Center,Boston Celtics,US,Champion,1610612738
3,Bill,Russell,1962,Center,Boston Celtics,US,Champion,1610612738
4,Bill,Russell,1963,Center,Boston Celtics,US,Champion,1610612738

In [32]:
mvp_final = mvp_df.rename(columns={ "team_id":"Team_id"})
mvp_final.head()

,First_name,Last_name,Year,Position,Team,Nationality,MVP_status,Team_id
0,Bob,Cousy,1957,Guard,Boston Celtics,US,Champion,1610612738
1,Bill,Russell,1958,Center,Boston Celtics,US,Vice-Champion,1610612738
2,Bill,Russell,1961,Center,Boston Celtics,US,Champion,1610612738
3,Bill,Russell,1962,Center,Boston Celtics,US,Champion,1610612738
4,Bill,Russell,1963,Center,Boston Celtics,US,Champion,1610612738

In [33]:
mvp_final.to_csv("Resources/Play_off MVP.csv")

In [23]:
#connection = "postgres:root123@localhost:5432/NBAdatabase"
#engine = create_engine(f'postgresql://{connection}')

In [24]:
#engine.table_names()

['player_stats_2017',
 'player_stats_2018',
 'mvp',
 'team',
 'hall_of_fame_player',
 'player',
 'player_stats_2016']

In [ ]:
# Uploading players information into Player_info table


#mvp.to_sql('MVP_db', con = engine, if_exists = 'append', index = False)

In [37]:
#test="Bulls"
#for team_to_check in mvp['MVP_team']:
 #   for row_in_master_data in team['team_name']:
  #      if row_in_master_data in team_to_check:
  #          mvp['team_id']=team['team_id']